#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

#define lbase 0
#define lsymbols 1
#define lnav 2
#define lsystem 3
#define lgaming 4

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};


/ {

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC     &mt EXCL N1  &mt AT N2     &mt HASH NUMBER_3  &mt DOLLAR N4  &mt PERCENT N5     &kp UP_ARROW        &mt CARET N6  &mt AMPS N7     &mt ASTRK N8      &mt LEFT_PARENTHESIS N9  &mt RIGHT_PARENTHESIS N0  &kp BACKSPACE
&kp TAB     &kp Q        &kp W         &kp E              &kp R          &kp T              &kp DOWN_ARROW      &kp Y         &kp U           &kp I             &kp O                    &kp P                     &kp BSLH
&sk LSHFT   &kp A        &kp S         &kp D              &kp F          &kp G              &kp LEFT_ARROW      &kp H         &kp J           &kp K             &kp L                    &kp SEMI                  &kp ESC
&kp LCTRL   &kp Z        &kp X         &kp C              &kp V          &kp B              &kp RIGHT_ARROW     &kp N         &kp M           &kp COMMA         &kp DOT                  &kp FSLH                  &kp ENTER
&kp C_MUTE  &kp LCTRL    &kp LEFT_GUI  &kp LEFT_ALT       &kp SPACE      &sl lsymbols       &kp ENTER           &mo lnav      &kp SPACE       &kp RIGHT_ALT     &kp RIGHT_SHIFT          &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "base";
        };

        symbols {
            bindings = <
&trans  &trans     &trans     &trans            &trans             &trans           &trans          &trans       &trans       &trans  &trans  &trans  &trans
&trans  &kp MINUS  &kp GRAVE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp EQUAL        &trans          &kp LT       &kp PIPE     &kp GT  &kp SQT &trans  &trans
&trans  &kp PLUS   &kp TILDE  &kp LEFT_BRACE    &kp LEFT_BRACE     &kp UNDER        &trans          &kp MINUS    &kp COLON    &trans  &kp DQT &trans  &trans
&trans  &trans     &trans     &kp LEFT_BRACKET  &kp LEFT_BRACKET   &trans           &trans          &trans       &trans       &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans            &trans             &trans           &trans          &mo lsystem  &trans       &trans  &trans  &trans
            >;
            sensor-bindings = <&scroll_encoder>;
            display-name = "symbols";
        };

        nav {
            bindings = <
&none       &none            &none           &none            &none            &none                   &mmv MOVE_UP         &none            &none            &none       &none      &none          &none
&none       &none            &none           &mmv MOVE_UP     &none            &none                   &mmv MOVE_DOWN       &kp LC(U)        &kp END          &kp UP      &kp HOME   &kp PAGE_UP    &none
&none       &none            &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_RIGHT  &none                   &mmv MOVE_LEFT       &kp LC(D)        &kp LEFT         &kp DOWN    &kp RIGHT  &kp PAGE_DOWN  &none
&none       &none            &mkp LCLK       &mkp MCLK        &mkp RCLK        &none                   &mmv MOVE_LEFT       &kp B            &kp W            &none       &none      &none          &none
&kp C_MUTE  &none            &none           &none            &none            &mo lsystem             &mkp LCLK            &none            &none            &none       &none      &none 
            >;

            display-name = "nav";
            sensor-bindings = <&scroll_encoder>;
        };

        system {
            bindings = <
&sys_reset      &bt BT_SEL 0     &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4              &mmv MOVE_UP           &kp F1  &kp F2         &kp F3    &kp F4     &kp F5    &kp F6 
&soft_off       &out OUT_BLE     &bt BT_CLR      &bt BT_CLR_ALL   &none            &none                     &mmv MOVE_DOWN         &kp F7  &kp F8         &kp F9    &kp F10    &kp F11   &kp F12
&bootloader     &out OUT_USB     &none           &none            &none            &none                     &mmv MOVE_LEFT         &none   &none          &none     &none      &none     &none
&none           &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI           &mmv MOVE_RIGHT        &none   &none          &none     &none      &none     &none 
&none           &rgb_ug RGB_BRI  &rgb_ug RGB_BRD &none            &none            &none                     &mkp LCLK              &none   &tog lgaming   &none     &none      &none 
            >;

            display-name = "system";
            sensor-bindings = <&scroll_encoder>;
        };

    };

        gaming {
            bindings = <
&kp ESC     &mt EXCL N1  &mt AT N2     &mt HASH NUMBER_3  &mt DOLLAR N4  &mt PERCENT N5     &kp UP_ARROW        &mt CARET N6  &mt AMPS N7     &mt ASTRK N8      &mt LEFT_PARENTHESIS N9  &mt RIGHT_PARENTHESIS N0  &kp BACKSPACE
&kp TAB     &kp Q        &kp W         &kp E              &kp R          &kp T              &kp DOWN_ARROW      &kp Y         &kp U           &kp I             &kp O                    &kp P                     &kp BSLH
&kt LSHFT   &kp A        &kp S         &kp D              &kp F          &kp G              &kp LEFT_ARROW      &kp H         &kp J           &kp K             &kp L                    &kp SEMI                  &kp ESC
&kp LCTRL   &kp Z        &kp X         &kp C              &kp V          &kp B              &kp RIGHT_ARROW     &kp N         &kp M           &kp COMMA         &kp DOT                  &kp FSLH                  &kp ENTER
&kp C_MUTE  &kp LCTRL    &kp LEFT_ALT  &kp LEFT_ALT       &kp SPACE      &sl lsymbols       &kp ENTER           &mo lnav      &kp SPACE       &kp RIGHT_ALT     &kp RIGHT_SHIFT          &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "gaming";
        };
};
